<!-- @format -->

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Caravana's - Turismo Religioso</title>
    <!-- ! link CSS -->
    <link rel="stylesheet" href="App/Views/css/style.css" />
    <link rel="shortcut icon" type="imagex/png" href="App/Views/img/logo-transparente.png">
  </head>
  <body>
    <!-- todo header starts here  -->
    <header style="background-size: cover;
                   background-position: center;
                   display: flex;
                   flex-direction: column;
                   position: relative;
                   opacity: 0.9;
                   overflow: hidden;">
      <!-- ? nav starts here -->
      <nav>
        <div class="logo">
            <a href="/"><img src="App/Views/img/logo-transparente.png" alt="" class="logo-img"></a>
        </div>
        <div class="nav-list">
            <ul>
                <li>
                    <a href="/"  rel="noopener noreferrer">Inicio</a>
                </li>
                <li>
                  <a href="/destinos"  rel="noopener noreferrer">Destinos</a>
                </li>
                <li>
                  <a href="/contato"  rel="noopener noreferrer">Contato</a>
                </li>
                <li>
                  <a href="/sobre"  rel="noopener noreferrer">Quem somos</a>
                </li>
              </ul>
        </div>
      </nav>
    </header>

    <main>
      

      <!-- ? top selling container start -->
      <div class="topSelling-container">
        <div class="row-cards">
          <!-- space  -->
          <div class="card-colom">
            <div class="img">
              <img src="app/Views/img/Rome.png" class="rome-img" alt="rome-img" />
            </div>
            <div class="card-contents">
              <span>
                <p>Rome,Italty</p>
                <p>$5,42Lakh</p>
              </span>
              <p>
                <img src="app/Views/img/arow-navigation.svg" alt="" srcset="" /> 10 Days
                Trip
              </p>
            </div>
          </div>
          <!-- space  -->
           
          <div class="card-colom">
            <div class="img">
              <img src="app/Views/img/London.png" class="london-img" alt="london-img" />
            </div>
            <div class="card-contents">
              <span>
                <p>London,UK</p>
                <p>$4.2Lakh</p>
              </span>
              <p>
                <img src="app/Views/img/arow-navigation.svg" alt="" srcset="" /> 12 Days
                Trip
              </p>
            </div>
          </div>
          <!-- space  -->
          <div class="card-colom">
            <div class="img">
              <img src="app/Views/img/Europe.png" class="europe-img" alt="europe-img" />
            </div>
            <div class="card-contents">
              <span>
                <p>Full Europe</p>
                <p>$15Lakh</p>
              </span>
              <p>
                <img src="app/Views/img/arow-navigation.svg" alt="" srcset="" /> 28 Days
                Trip
              </p>
            </div>
          </div>
          <!-- space  -->           
        </div>
        <br><br><br><br>
        <div class="row-cards">
            <!-- space  -->
            <div class="card-colom">
              <div class="img">
                <img src="app/Views/img/Rome.png" class="rome-img" alt="rome-img" />
              </div>
              <div class="card-contents">
                <span>
                  <p>Rome,Italty</p>
                  <p>$5,42Lakh</p>
                </span>
                <p>
                  <img src="app/Views/img/arow-navigation.svg" alt="" srcset="" /> 10 Days
                  Trip
                </p>
              </div>
            </div>
            <!-- space  -->
             
            <div class="card-colom">
              <div class="img">
                <img src="app/Views/img/London.png" class="london-img" alt="london-img" />
              </div>
              <div class="card-contents">
                <span>
                  <p>London,UK</p>
                  <p>$4.2Lakh</p>
                </span>
                <p>
                  <img src="app/Views/img/arow-navigation.svg" alt="" srcset="" /> 12 Days
                  Trip
                </p>
              </div>
            </div>
            <!-- space  -->
            <div class="card-colom">
              <div class="img">
                <img src="app/Views/img/Europe.png" class="europe-img" alt="europe-img" />
              </div>
              <div class="card-contents">
                <span>
                  <p>Full Europe</p>
                  <p>$15Lakh</p>
                </span>
                <p>
                  <img src="app/Views/img/arow-navigation.svg" alt="" srcset="" /> 28 Days
                  Trip
                </p>
              </div>
            </div>
            <!-- space  -->           
          </div>
      </div>
      <!-- ? top selling container end -->
    </main>
    <!-- todo main ends here  -->
<br><br><br><br>
    <!-- todo footer starts here -->
    <footer>
      <div class="footer-container">
        <div class="table-content">
          <div class="company contents">
            <h1>Company</h1>
            <span>
              <p>About</p>
              <p>Careers</p>
              <p>Mobile</p>
            </span>
          </div>
          <div class="contact contents">
            <h1>Contact</h1>
            <span>
              <p>Help/FAQ</p>
              <p>Airlinefees</p>
              <p>Affilates</p>
            </span>
          </div>
          <div class="more contents">
            <h1>More</h1>
            <span>
              <p>Airlinefees</p>
              <p>Airline</p>
              <p>Low fare tips</p>
            </span>
          </div>
        </div>
        <div class="discover-app">
          <div class="social-icons">
            <img src="app/Views/img/face-book.svg" alt="facebook-icon" srcset="" />
            <span>
              <img src="app/Views/img/insta-bg.png" alt="instagram-icon-bg" srcset="" />
              <img
                src="app/Views/img/instagram.svg"
                class="insta-icon"
                alt="instagram-icon"
              />
            </span>
            <img src="app/Views/img/twitter.svg" alt="twitter-icon" srcset="" />
          </div>
        </div>
      </div>
    </footer>
    <!-- todo footer ends here -->
    <div class="copyRights">
      <p>Copyright © 2024 Luiz Rodrigues - Todos os direitos reservados</p>
    </div>
  </body>
</html>